* {
	box-sizing: border-box;
}

html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p
{
	margin-top: 0;
	line-height: 180%;
}

a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #8dc63f;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
}

.button:hover
{
	background: #86bd3b;
}

.button-big
{
	padding: 1.6em 4em;
	font-size: 1.4em;
	font-weight: 900;
}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
.header
{
	display: flex;
	flex-direction: column;
	height: 100px;
	background: #2b2b2b;
	justify-content: space-between;
	align-items: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

.logo
{
	position: absolute;
	top: 2em;
	width: 100%;
}

.logo h1
{
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #ED7070;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.1);
}

.logo span
{
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

.logo a
{
	text-decoration: none;
	color: #FFF;
}

.logo .fa
{

	color: #8dc63f;
}

.logo .fa:after
{
	padding-right: 2em;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

nav
{
	position: absolute;
	right: 0;
	top: 1.6em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav a, nav span
{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}



/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
.banner
{
	padding: 6.7em 7.6em;
	background-image: url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: rgba(255,255,255,.7);
	font-size: 1.5em;
	text-align: center;
}

.banner a
{
	color: rgba(255,255,255,.9);
}

.banner h2
{
	padding-bottom: 0.50em;
	font-weight: 400;
	font-size: 3em;
	color: #FFF;
}

.banner .button
{
	margin-top: 2em;
	background: #6fac1b;
}

.banner strong
{
	color: #FFF;
}

.banner span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.copyright
{
	padding: 6em 0em 10em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
	background: #2b2b2b;
}

.copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}

.copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

.content
{
	overflow: hidden;
	margin-bottom: 5em;
	padding-bottom: 5em;
	display: flex; 
    flex-wrap: wrap;
}

.content h2
{
	font-size: 4em;
}

.content .byline
{
	font-size: 2em;
}

.content .fa
{
	display: inline-block;
	margin-bottom: 1em;
	width: 3em;
	height: 3em;
	line-height: 3em;
	font-size: 4em;
	color: #8dc63f;
	border: 1px solid #86bd3b;
	border-radius: 50%;
}

.left
{
	padding: 1.5em;
	margin-bottom: 1.5em;
    border-right: 1px solid rgba(0,0,0,.1);
	flex: 0 0 50%;
}

.right
{
	padding: 1.5em;
	margin-bottom: 1.5em;
	flex: 0 0 50%;	
}



.separate-box {
	flex: 1 1 100%;
	margin-bottom: 1.5em;
}


